<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Aron_For_TwMs_113_4.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Aron_For_TwMs_113_4.Properties.Settings>
            <setting name="Lock_Filter" serializeAs="String">
                <value>MapleStory</value>
            </setting>
            <setting name="IsAutoSave" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsAutoLock" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsAutoPlay" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsAutoBypass" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsNotify" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ExePath" serializeAs="String">
                <value>MapleStory.exe</value>
            </setting>
            <setting name="UserStarter" serializeAs="String">
                <value>{"Name":"自訂義","Address":"127.0.0.1","Port":8484,"Site":""}</value>
            </setting>
            <setting name="ServerIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="IsDxWnd" serializeAs="String">
                <value>False</value>
            </setting>
        </Aron_For_TwMs_113_4.Properties.Settings>
    </userSettings>
</configuration>